<nav class="nav navbar-primary navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href='#' class="navbar-brand">BudgetMiner</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/general" class="h4">General</a></li>
          <li routerLinkActive="active"><a routerLink="/appli" class="h4">Application</a></li>
          <li routerLinkActive="active"><a routerLink="/techno" class="h4">Technology</a></li>
          <li routerLinkActive="active"><a routerLink="/infra" class="h4">Infrastructure</a></li>
          <li routerLinkActive="active"><a routerLink="/dc" class="h4">Datacenter</a></li>
          <li routerLinkActive="active"><a routerLink="/other" class="h4">Other</a></li>
        </ul>
      </div> 
    </div>
</nav>
<router-outlet></router-outlet>